
.projects{
  position: relative;
  color: white;
  margin-top: 20vh;
  padding: 10%;
}

.projectDescription{
  display: flex;
  height: 600px;
  justify-content: space-between;
  gap: 5%;

}

.imageContainer{
  position: relative;
  height: 90%;
  width: 100%;
}

.imageContainer img{
  object-fit: cover;
  border-radius: 10px;
}

.column{
  display: flex;
  width: 100%;
  font-size: 1.8vw;
}

.column:last-of-type{
  padding-top: 30%;
  height: 100%;
  align-items: flex-end;
  font-size: 1.8vw;
  z-index: 1;
}

.projectList{
  display: flex;
  flex-direction: column;
  position: relative;
  margin-top: 200px;
}

.projectEl{
  width: 100%;
  color: white;
  text-transform: uppercase;
  font-size: 3vw;
  border-bottom: 1px solid white;
  display: flex;
  justify-content: flex-end;
}
.projectEl h2{
  margin: 0px;
  margin-top: 40px;
  margin-bottom: 20px;
  cursor: default;
}